doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css')
    //- style(type='text/css')
    //-     include ../user/index_user.css
    link(rel="stylesheet" href='../../../public/style/index_user.css')
    link(rel="stylesheet" href='./style/index_login.css')
    link(rel="stylesheet" href='./style/index_product.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    title Quản Lý Nhân Viên
body
    block content
