extends ../layouts/common.pug

block content
    h1 Create Staff
    if _errors
        ul
            each error in _errors
                li= error
    form(action="/user/create_user" method="POST" enctype="multipart/form-data")
        .form-group
            lable(for="name") Name
            input#name(name="name" type="text" value=_value ? _value.name : "" placeholder="Enter your name")
        .form-group
            lable(for="img") Avatar
            input#img.form-control-file(name="img" type="file")
        button.btn.btn-primary(type="submit") Create