extends ../layouts/common.pug

block content
  main.container
    nav.nav-bar
      form.search(action='/user/search' method='GET')
        input#searchStaff.search-staff(type='text' name='searchStaff' placeholder='Search Staff')
        i.fa.fa-search(aria-hidden='true')
      .list
        ul#listStaff.list-staff
          each staff in _listStaff
            li
              span= staff.nameStaff
              span &nbsp;
              a(href="/user/" + staff.id) View
    .content-staff
      section#infoStaff.info
        .content-avatar
          img.img-avatar(src= _informationStaff ? '../img-staff/' + _informationStaff.img : '')
          button.btn.btn-choose Choose
        .content-info
          .information
            lable(for='fristName') Frist Name:
            input#fristName.input(type='text' name='FristName' value= _informationStaff ? _informationStaff.nameStaff : '')
          .information
            lable(for='lastName') Last Name:
            input#lastName.input(type='text' name='LastName')
          .information
            lable(for='age') Age:
            input#age.input(type='text' name='Age')
          .information
            lable(for='phoneNumber') Phone Number:
            input#phoneNumber.input(type='number' name='PhoneNumber')
          .information
            lable(for='address') Address:
            input#address.input(type='text' name='Address')
          .information
            lable(for='email') Email:
            input#email.input(type='email' name='Email') 
        a#create.btn(href='/user/create_user') Create Staff
