extends ../layouts/common.pug

block content
    h1 Products List
    .container
        if (_listProducts)
            .row
                each product in _listProducts
                    .col
                        p= product.name
                        img.rounded.mx-auto.d-block(src= product.image, alt="picture product")
                        p= product.description
                        p= product.price
                        .btn.btn-primary BUY

