extends ../layouts/common.pug

block content
    h1 Login

    if(_errors)
        each error in _errors
            p= error

    form(action='/login/' method='POST')
        lable(for='userName') User Name:
        input#userName.user-name(type='text' name='UserName' value=_value ? _value.UserName : '')
        lable(for='password') Password:
        input#password.passwd(type='password' name='Password')
        input#submit(type='submit')
